body { margin: 0; }

.time-bar {
  background-color: #fff;
  height: 7px;
}

.time-bar-wrapper {
  background-color: rgba(#000, .3);
  height: 7px;
}

.current-time {
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 200px;
  margin: 250px auto;
  text-align: center;
}

